@import "compass";

$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// COLOR
$baseColor: #d4ecf0;  /*水色*/
$subColor: #2280b3;  /*空色*/
$keyColor: #e8b5bf;  /*ピンク色*/
$fontColor: #000;  /*黒色*/


/* BASE
---------------------------------------------------------------*/
html{ 
  font-size: 62.5%;
}

body{
  color: $fontColor;
  font-size: 1.4rem;
  font-family:$baseFontFamily;
  line-height:1.6;
  letter-spacing: 0.1em;
  background-color: $baseColor;
}

a {
  @include link-colors($subColor, darken($subColor, 10%), lighten($subColor, 5%), darken($subColor, 10%));
  text-decoration: none;
}

.center {
  text-align: center;
}

/*---------------------------------------------------------------*/

/* HEAD
---------------------------------------------------------------*/

.head {
  background-image: url("../images/header.jpg");
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

/*---------------------------------------------------------------*/

/* MAIN
---------------------------------------------------------------*/
.wedding {
  margin: 0 30px;
  padding: 0;
      h1 {
        font-size: 3rem;
        margin: 20px 0;
      }
      .info {
        @extend .center;
      }
    .container{
      margin: 20px 0;
      display: flex;
      flex-direction: column;
      .box {
        margin-top: 20px;
        width: 100%;
        height: auto;
        background-color: #fff;
          h2 {
            display: block;
            font-size: 2rem;
            padding: 10px;
          }
          img {
          width: 100%;
          height: auto;
          }
          p {
            padding: 10px;
          }
      }
    }
} // .wedding

.link{
  margin: 30px;
  @extend .center;
  .btn {
    display: inline-block;
    margin-top: 10px;
      padding: 10px;
      font-size: 2rem;
      @extend .center;
      background-color: $keyColor;
      border-radius: 5px;
  }
      
}


/*---------------------------------------------------------------*/

/* FOOT
---------------------------------------------------------------*/
.foot{
  background-color: $subColor;
  padding: 10px 0;
  @extend .center;
  color: #fff;
}

/*---------------------------------------------------------------*/


/* PC
---------------------------------------------------------------*/

@media (min-width: 796px){
  .head {
  background-image: url("../images/header.jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }

  .wedding {
    width: 90%;
    margin: 10px auto;
    .wrapper {
      width: 100%;
      display: flex;
      .i {
        width: 30%;
        height: auto;
        margin-right: 30px;
      }
      .info {
        width: 70%;
        margin: auto;
      }
        h1 {
          font-size: 3rem;
          margin-bottom: 20px;
        }
    }
    
    .container{
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: 20px 0;
      .box {
        margin: 10px;
        width: (100% / 3);
        height: auto;
        background-color: #fff;
          h2 {
            font-size: 2rem;
          }
          img {
          width: 100%;
          height: auto;
          }
      }
    }  
  }
}